# Workflow to build and push docker images
# On push to branch, take care of sha-ref tag (e.g. sha-ad132f5)
# On release, take care of latest and release tags (e.g. 1.2.3)

name: Docker build and push

on:
  push:
    branches: [master, gha-docker]
    tags: ['*.*.*']
  release:
    types: [published]

jobs:
  docker:
    name: docker build and push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Create image and tag names
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: mundialis/openeo-web-editor
          tags: |
            type=ref,event=tag
            type=sha
          flavor: |
            latest=auto
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN  }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          context: .
          file: Dockerfile
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
